name: CI

on:
    workflow_dispatch:
    pull_request:
        branches: [ main ]

jobs:
    unit-tests:
        name: "Unit tests"
        strategy:
            matrix:
                os: [ ubuntu-latest, windows-latest, macos-latest ]
        runs-on: ${{ matrix.os }}
        steps:
            -   uses: actions/checkout@v4
                with:
                    fetch-depth: 0
            -   name: Setup .NET SDKs
                uses: actions/setup-dotnet@v4
                with:
                    dotnet-version: |
                        8.0.x
            -   name: Run unit tests (windows)
                if: matrix.os == 'windows-latest'
                run: ./build.ps1 CodeCoverage
            -   name: Run unit tests (ubuntu|macos)
                if: matrix.os != 'windows-latest'
                run: ./build.sh CodeCoverage
            -   name: Upload artifacts
                if: always()
                uses: actions/upload-artifact@v4
                with:
                    name: ${{ runner.os }}-artifacts
                    path: |
                        ./Artifacts/*
                        ./TestResults/*.trx
    
    api-tests:
        name: "API tests"
        runs-on: ubuntu-latest
        env:
            DOTNET_NOLOGO: true
        steps:
            -   uses: actions/checkout@v4
                with:
                    fetch-depth: 0
            -   name: Setup .NET SDKs
                uses: actions/setup-dotnet@v4
                with:
                    dotnet-version: |
                        8.0.x
            -   name: API checks
                run: ./build.sh ApiChecks
            -   name: Upload artifacts
                if: always()
                uses: actions/upload-artifact@v4
                with:
                    name: API-tests
                    path: |
                        ./Artifacts/*
                        ./TestResults/*.trx
    
    mutation-tests:
        name: "Mutation tests"
        if: ${{ github.actor != 'dependabot[bot]' }}
        runs-on: ubuntu-latest
        env:
            STRYKER_DASHBOARD_API_KEY: ${{ secrets.STRYKER_DASHBOARD_API_KEY }}
            DOTNET_NOLOGO: true
        steps:
            -   uses: actions/checkout@v4
                with:
                    fetch-depth: 0
            -   name: Setup .NET SDKs
                uses: actions/setup-dotnet@v4
                with:
                    dotnet-version: |
                        8.0.x
            -   name: Run mutation tests
                run: ./build.sh MutationTests
    
    benchmarks:
        name: "Benchmarks"
        if: ${{ github.actor != 'dependabot[bot]' }}
        runs-on: ubuntu-latest
        permissions:
            contents: write
            pull-requests: write
        env:
            DOTNET_NOLOGO: true
        steps:
            -   uses: actions/checkout@v4
                with:
                    fetch-depth: 0
            -   name: Setup .NET SDKs
                uses: actions/setup-dotnet@v4
                with:
                    dotnet-version: |
                        8.0.x
            -   name: Run benchmarks
                run: ./build.sh Benchmarks
                env:
                    GithubToken: ${{ secrets.GITHUB_TOKEN }}
    
    pack:
        name: "Pack"
        runs-on: ubuntu-latest
        env:
            DOTNET_NOLOGO: true
        steps:
            -   uses: actions/checkout@v4
                with:
                    fetch-depth: 0
            -   name: Setup .NET SDKs
                uses: actions/setup-dotnet@v4
                with:
                    dotnet-version: |
                        8.0.x
            -   name: Pack nuget packages
                run: ./build.sh Pack
            -   name: Upload packages
                if: always()
                uses: actions/upload-artifact@v4
                with:
                    path: Artifacts/Packages
                    name: Packages
    
    push:
        name: "Push"
        runs-on: windows-latest
        needs: [ pack ]
        steps:
            -   name: Download packages
                uses: actions/download-artifact@v4
                with:
                    name: Packages
                    path: Artifacts/Packages
            -   name: Install nuget
                uses: nuget/setup-nuget@v2
                with:
                    nuget-version: 'latest'
            -   name: Publish
                run: |
                    echo "Found the following packages to push:"
                    search_dir=Artifacts/Packages
                    for entry in Artifacts/Packages/*.nupkg
                    do
                      echo "- $entry"
                    done
                    for entry in Artifacts/Packages/*.nupkg
                    do
                      nuget push $entry -Source 'https://api.nuget.org/v3/index.json' -SkipDuplicate
                    done
    
    static-code-analysis:
        name: "Static code analysis"
        if: ${{ github.actor != 'dependabot[bot]' }}
        runs-on: ubuntu-latest
        env:
            REPORTGENERATOR_LICENSE: ${{ secrets.REPORTGENERATOR_LICENSE }}
            SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
            DOTNET_NOLOGO: true
        steps:
            -   uses: actions/checkout@v4
                with:
                    fetch-depth: 0
            -   name: Setup .NET SDKs
                uses: actions/setup-dotnet@v4
                with:
                    dotnet-version: |
                        8.0.x
            -   name: Run sonarcloud analysis
                run: ./build.sh CodeAnalysis
    
    publish-test-results:
        name: "Publish Tests Results"
        needs: [ api-tests, unit-tests ]
        runs-on: ubuntu-latest
        permissions:
            checks: write
            pull-requests: write
        if: always()
        steps:
            -   name: Download Artifacts
                uses: actions/download-artifact@v4
                with:
                    path: artifacts
            -   name: Publish Test Results
                uses: EnricoMi/publish-unit-test-result-action@v2
                with:
                    comment_mode: always
                    files: "artifacts/**/**/*.trx"
